
#boxModel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0px; 
    left: 0px;
    position: fixed; 
    z-index: 999; 
    .mask-layer{
        background: #000;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;  
    }
    .imgModel{
        z-index: 999;
        padding: 10px;
        background: #fff;
        border-radius: 5px;
    }
}